<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, member-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>

    <!-- 현재 쿼리스트링을 가져올 수 있음   -->
    <div th:if="${param.error}">
        <h4>아이디나 비번 틀림</h4>
    </div>

    <h4>로그인 하세요</h4>
    <form action="/login" method="POST">
        <input name="username">
        <input name="password" type="password">
        <button type="submit">전송</button>
    </form>

    <form>
        <input name="username" id="username">
        <input name="password" id="password" type="password">
    </form>

    <button onclick="loginJWT()">전송</button>

    <button onclick="getMyPage()">JWT 마이페이지</button>

<script>
    async function loginJWT() {
        let result = await fetch('/login/jwt', {
          method : 'POST',
          headers : {'Content-Type': 'application/json'},
          body : JSON.stringify({
            username : document.querySelector('#username').value,
            password : document.querySelector('#password').value
          }),
          credentials: "include"
        })

        if(!result.ok) {
            throw new Error("에러");
        }

        window.location.href = "/list"
    }

    async function getMyPage() {
        let result = await fetch('/my-page/jwt', {})
        let resultText = await result.text()
        console.log(resultText);
    }

</script>
</body>
</html>